---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<fake_weather>&exclude=minutely,alerts&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1657805116,"sunrise":1657799180,"sunset":1657851712,"temp":76.28,"feels_like":75.4,"pressure":1008,"humidity":38,"dew_point":48.83,"uvi":0.45,"clouds":10,"visibility":10000,"wind_speed":1.99,"wind_deg":309,"wind_gust":5.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1657803600,"temp":76.28,"feels_like":75.4,"pressure":1008,"humidity":38,"dew_point":48.83,"uvi":0.45,"clouds":10,"visibility":10000,"wind_speed":7.2,"wind_deg":277,"wind_gust":12.93,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1657807200,"temp":77.27,"feels_like":76.33,"pressure":1009,"humidity":35,"dew_point":47.52,"uvi":1.52,"clouds":11,"visibility":10000,"wind_speed":8.68,"wind_deg":282,"wind_gust":14.14,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1657810800,"temp":80.28,"feels_like":79.5,"pressure":1010,"humidity":32,"dew_point":47.77,"uvi":3.5,"clouds":12,"visibility":10000,"wind_speed":8.61,"wind_deg":285,"wind_gust":11.95,"weather":[{"id":801,"m[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=denver,co&key=<fake_geo>&to=london,uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Thu, 14 Jul 2022 13:25:17 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"routeError":{"errorCode":2,"message":""}},"info":{"statuscode":402,"copyright":{"imageAltText":"©
        2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","text":"©
        2022 MapQuest, Inc."},"messages":["We are unable to route with the given locations."]}}'
  recorded_at: Thu, 14 Jul 2022 13:25:17 GMT
recorded_with: VCR 6.0.0
