---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Denver,CO&key=<fake_geo>&to=London,UK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Thu, 14 Jul 2022 13:21:13 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"routeError":{"errorCode":2,"message":""}},"info":{"statuscode":402,"copyright":{"imageAltText":"©
        2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","text":"©
        2022 MapQuest, Inc."},"messages":["We are unable to route with the given locations."]}}'
  recorded_at: Thu, 14 Jul 2022 13:21:13 GMT
recorded_with: VCR 6.0.0
