---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<fake_weather>&exclude=minutely,alerts&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1657764681,"sunrise":1657712739,"sunset":1657765340,"temp":89.85,"feels_like":86.31,"pressure":1009,"humidity":21,"dew_point":44.74,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":8.05,"wind_deg":170,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1657764000,"temp":89.85,"feels_like":86.31,"pressure":1009,"humidity":21,"dew_point":44.74,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":9.19,"wind_deg":196,"wind_gust":20.69,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.1},{"dt":1657767600,"temp":88.43,"feels_like":85.17,"pressure":1010,"humidity":23,"dew_point":45.95,"uvi":0,"clouds":16,"visibility":10000,"wind_speed":20.56,"wind_deg":297,"wind_gust":27.16,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0.06},{"dt":1657771200,"temp":86.77,"feels_like":83.88,"pressure":1011,"humidity":25,"dew_point":46.78,"uvi":0,"clouds":34,"visibility":10000,"wind_speed":16.75,"wind_deg":303,"wind_gust":27.2,"weather":[{"id":802,[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=denver,co&key=<fake_geo>&to=pueblo,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Thu, 14 Jul 2022 02:11:22 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.60508,"lat":38.265427},"ul":{"lng":-104.987602,"lat":39.738453}},"distance":111.387,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"01:45:23","sessionId":"62cf7b4a-015f-6750-02b4-34c7-0e0290bbd05d","hasAccessRestriction":false,"realTime":6437,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":5.42,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to PUEBLO, CO.","distance":111.387,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"01:45:23","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":5,"time":6323,"hasUnpaved":false,"origNarrative":"Go
        south on N Broadway.","maneuvers":[{"distance":0.109,"streets":["N Sherman
        St"],"narrative":"Start out going south on N Sherman St toward E 13th Ave.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:23","directionName":"South","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<fake_geo>&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73687744140625,-104.9848403930664|marker-2||&center=39.7376651763916,-104.98484802246094&defaultMarker=none&zoom=13&rand=707892143&session=62cf7b4a-015f-6750-02b4-34c7-0e0290bbd05d","transportMode":"AUTO","attributes":0,"time":23,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":4},{"distance":0.135,"streets":["E
        13th Ave"],"narrative":"Turn right onto E 13th Ave.","turnType":2,"startPoint":{"lng":-104.98484,"lat":39.736877},"index":1,"formattedTime":"00:00:22","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<fake_geo>&size=225,160&locations=39.73687744140625,-104.9848403930664|marker-2||39.73686981201172,-104.98737335205078|marker-3||&center=39.736873626708984,-104.9861068725586&default[...]
