---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<fake_weather>&exclude=minutely,alerts&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1657804873,"sunrise":1657799180,"sunset":1657851712,"temp":75.78,"feels_like":74.84,"pressure":1008,"humidity":38,"dew_point":48.4,"uvi":0.45,"clouds":10,"visibility":10000,"wind_speed":1.99,"wind_deg":315,"wind_gust":8.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1657803600,"temp":75.78,"feels_like":74.84,"pressure":1008,"humidity":38,"dew_point":48.4,"uvi":0.45,"clouds":10,"visibility":10000,"wind_speed":7.2,"wind_deg":277,"wind_gust":12.93,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1657807200,"temp":76.87,"feels_like":75.9,"pressure":1009,"humidity":35,"dew_point":47.17,"uvi":1.52,"clouds":11,"visibility":10000,"wind_speed":8.68,"wind_deg":282,"wind_gust":14.14,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1657810800,"temp":79.97,"feels_like":79.97,"pressure":1010,"humidity":32,"dew_point":47.5,"uvi":3.5,"clouds":12,"visibility":10000,"wind_speed":8.61,"wind_deg":285,"wind_gust":11.95,"weather":[{"id":801,"ma[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=denver,co&key=<fake_geo>&to=pueblo,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Thu, 14 Jul 2022 13:21:13 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.60508,"lat":38.265427},"ul":{"lng":-104.987602,"lat":39.738453}},"distance":111.387,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"01:45:23","sessionId":"62d01849-029e-6750-02b4-34dd-121dba4184ad","hasAccessRestriction":false,"realTime":6516,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":5.42,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to PUEBLO, CO.","distance":111.387,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"01:45:23","origIndex":2,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":5,"time":6323,"hasUnpaved":false,"origNarrative":"Go
        south on N Broadway.","maneuvers":[{"distance":0.109,"streets":["N Sherman
        St"],"narrative":"Start out going south on N Sherman St toward E 13th Ave.","turnType":0,"startPoint":{"lng":-104.984856,"lat":39.738453},"index":0,"formattedTime":"00:00:23","directionName":"South","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<fake_geo>&size=225,160&locations=39.73845291137695,-104.98485565185547|marker-1||39.73687744140625,-104.9848403930664|marker-2||&center=39.7376651763916,-104.98484802246094&defaultMarker=none&zoom=13&rand=-1876502169&session=62d01849-029e-6750-02b4-34dd-121dba4184ad","transportMode":"AUTO","attributes":0,"time":23,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":4},{"distance":0.135,"streets":["E
        13th Ave"],"narrative":"Turn right onto E 13th Ave.","turnType":2,"startPoint":{"lng":-104.98484,"lat":39.736877},"index":1,"formattedTime":"00:00:22","directionName":"West","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<fake_geo>&size=225,160&locations=39.73687744140625,-104.9848403930664|marker-2||39.73686981201172,-104.98737335205078|marker-3||&center=39.736873626708984,-104.9861068725586&default[...]
