---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<fake_geo>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 09 Mar 2022 12:08:11 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<fake_geo>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1226570805"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<fake_geo>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=301192736"}]}]}'
  recorded_at: Wed, 09 Mar 2022 12:08:11 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<fake_weather>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646827691,"sunrise":1646832054,"sunset":1646874013,"temp":20.19,"feels_like":13.19,"pressure":1012,"humidity":82,"dew_point":16.11,"uvi":0,"clouds":60,"visibility":10000,"wind_speed":5.01,"wind_deg":350,"wind_gust":8.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1646827200,"temp":20.19,"feels_like":10.62,"pressure":1012,"humidity":82,"dew_point":16.11,"uvi":0,"clouds":60,"visibility":10000,"wind_speed":7.81,"wind_deg":356,"wind_gust":9.13,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1646830800,"temp":20.52,"feels_like":9.93,"pressure":1013,"humidity":81,"dew_point":16.16,"uvi":0,"clouds":68,"visibility":10000,"wind_speed":9.31,"wind_deg":358,"wind_gust":10.25,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1646834400,"temp":20.3,"feels_like":8.31,"pressure":1015,"humidity":80,"dew_point":15.69,"uvi":0.16,"clouds":76,"visibility":6654,"wind_speed":11.54,"wind_deg":357,"wind_gust":12.97,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.07},{"dt":1646838000,"temp":20.07,"feels_like":7.47,"pressure":1017,"humidity":79,"dew_point":15.21,"uvi":0.64,"clouds":83,"visibility":2701,"wind_speed":12.8,"wind_deg":343,"wind_gust":14.54,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.07},{"dt":1646841600,"temp":20.77,"feels_like":8.19,"pressure":1019,"humidity":78,"dew_point":15.64,"uvi":1.33,"clouds":91,"visibility":1542,"wind_speed":12.91,"wind_deg":347,"wind_gust":14.45,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.15},{"dt":1646845200,"temp":21.61,"feels_like":9.72,"pressure":1021,"humidity":72,"dew_point":13.28,"uvi":2.23,"clouds":99,"visibility":10000,"wind_speed":12.01,"wind_deg":360,"wind_gust":12.44,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.39,"snow":{"1h":0.13}},{"dt":1646848800,"temp":22.35,"feels_like":11.23,"pressure":1020,"humidity":68,"dew_point":12.65,"uvi":2.96,"clouds":100,"visibility":10000,"wind_speed":10.94,"wind_deg":1,"wind_gust":10.85,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.31},{"dt":1646852400,"temp":23.23,"feels_like":12.45,"pressure":1019,"humidity":66,"dew_point":13.08,"uvi":2.68,"clouds":100,"visibility":10000,"wind_speed":10.71,"wind_deg":5,"wind_gust":11.1,"wea[...]
