---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<fake_unsplash>&orientation=landscape&per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<fake_unsplash>&orientation=landscape&page=2967&per_page=1&query=denver%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<fake_unsplash>&orientation=landscape&page=2&per_page=1&query=denver%2Cco>;
        rel="next"
      X-Total:
      - '2967'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"5818dc5c0c261839273204fba7ebdd73"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":2967,"total_pages":2967,"results":[{"id":"EWJcM7LvVvg","created_at":"2021-10-17T17:49:50-04:00","updated_at":"2022-07-13T06:24:14-04:00","promoted_at":null,"width":6144,"height":3456,"color":"#c07340","blur_hash":"LjMhl4%157sA0hIqt6WqIpayt7oL","description":"8pm
        curfew was lifted.","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1634507307973-9df1b23f5701?ixid=MnwzMDc5NTR8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfDB8fHwxNjU3NzYxNTAy\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1634507307973-9df1b23f5701?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzMDc5NTR8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfDB8fHwxNjU3NzYxNTAy\u0026ixlib=rb-1.2.1\u0026q=80","regular":"https://images.unsplash.com/photo-1634507307973-9df1b23f5701?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc5NTR8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfDB8fHwxNjU3NzYxNTAy\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1634507307973-9df1b23f5701?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc5NTR8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfDB8fHwxNjU3NzYxNTAy\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1634507307973-9df1b23f5701?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc5NTR8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfDB8fHwxNjU3NzYxNTAy\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1634507307973-9df1b23f5701"},"links":{"self":"https://api.unsplash.com/photos/EWJcM7LvVvg","html":"https://unsplash.com/photos/EWJcM7LvVvg","download":"https://unsplash.com/photos/EWJcM7LvVvg/download?ixid=MnwzMDc5NTR8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfDB8fHwxNjU3NzYxNTAy","download_location":"https://api.unsplash.com/photos/EWJcM7LvVvg/download?ixid=MnwzMDc5NTR8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfDB8fHwxNjU3NzYxNTAy"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"current-events":{"status":"rejected"}},"user":{"id":"6fM0nTrpvTI","updated_at":"2022-07-13T01:43:35-04:00","username":"dillydallying","name":"Dillon
        Wanner","first_name":"Dillon","last_name":"Wanner","twitter_username":"WannerDillon","portfolio_url":"https://dillydally.myportfolio.com","bio":"Artist,
        Photographer, cinematographer living in Denver, Co. \r\nMy photos are a small
        glimpse of what I’m feeling or that perspective at that time. I love you.","location":"Denver
        Colorado","links":{"self":"https://api.unsplash.com/users/dillydallying","html":"https://unsplash.com/@dillydallying","photos":"https://api.unsplash.com/users/dillydallying/photos","likes":"https://api.unsplash.com/users/dillydallying/likes","portfolio":"https://api.unsplash.com/users/dillydallying/portfolio","following":"https://api.unsplash.com/users/dillydallying/following","followers":"https://api.unsplash.com/users/dillydallying/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1616266477156-e4cd50197e4dimage?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1616266477156-e4cd50197e4dimage?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1616266477156-e4cd50197e4dimage?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"Dillydally.ing","total_collections":0,"total_likes":60,"total_photos":379,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"Dillydally.ing","portfolio_url":"https://dillydally.myportfolio.com","twitter_username":"WannerDillon","paypal_email":null}},"tags":[{"type":"search","title":"denver"},{"type":"search","title":"co"},{"type":"search","title":"usa"}]}]}'
  recorded_at: Thu, 14 Jul 2022 14:04:37 GMT
recorded_with: VCR 6.0.0
