---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<fake_weather>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1657807475,"sunrise":1657799017,"sunset":1657852055,"temp":77.52,"feels_like":76.91,"pressure":1014,"humidity":41,"dew_point":52,"uvi":1.52,"clouds":19,"visibility":10000,"wind_speed":3,"wind_deg":32,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1657807200,"temp":77.52,"feels_like":76.91,"pressure":1014,"humidity":41,"dew_point":52,"uvi":1.52,"clouds":19,"visibility":10000,"wind_speed":1.63,"wind_deg":233,"wind_gust":2.59,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1657810800,"temp":78.64,"feels_like":77.94,"pressure":1014,"humidity":37,"dew_point":50.22,"uvi":3.42,"clouds":18,"visibility":10000,"wind_speed":1.03,"wind_deg":255,"wind_gust":2.62,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1657814400,"temp":81.46,"feels_like":80.35,"pressure":1014,"humidity":33,"dew_point":49.62,"uvi":5.87,"clouds":17,"visibility":10000,"wind_speed":0.58,"wind_deg":345,"wind_gust":2.77,"weather":[{"id":801,"m[...]
